@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00ff88;
  --dark: #0a192f;
}

body {
  background-color: var(--dark);
  color: #8892b0;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  left: 0;
  bottom: -4px;
  transition: width 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
}
